Covariance and Correlation

In [61]:
data=[[161,59,21],[151,51,25],[166,64,18]]

In [62]:
#calculating by numpy
import numpy as np

In [63]:
np.cov(data)

array([[5241.33333333, 4804.66666667, 5478.66666667],
       [4804.66666667, 4425.33333333, 5007.33333333],
       [5478.66666667, 5007.33333333, 5737.33333333]])

In [64]:
#calculating by creating data frame
import pandas as pd

In [65]:
df=pd.DataFrame(data,columns=['Height','Weight','Age'])

In [66]:
df.head()

   Height  Weight  Age
0     161      59   21
1     151      51   25
2     166      64   18

In [67]:
#covariance
df.cov()

           Height  Weight        Age
Height  58.333333    50.0 -26.666667
Weight  50.000000    43.0 -23.000000
Age    -26.666667   -23.0  12.333333

In [68]:

#spearman rank correlation
df.corr(method='spearman')

        Height  Weight  Age
Height     1.0     1.0 -1.0
Weight     1.0     1.0 -1.0
Age       -1.0    -1.0  1.0

In [69]:
#pearson correlation
df.corr(method='pearson')  #by default pearson is calculated

          Height    Weight       Age
Height  1.000000  0.998337 -0.994192
Weight  0.998337  1.000000 -0.998742
Age    -0.994192 -0.998742  1.000000