Measure of central tendency

In [2]:
age=[12,21,23,45,65,43,56,45,32,67,54,34]

In [3]:
import numpy as np
np.mean(age)

41.416666666666664

In [4]:
np.median(age)

44.0

In [12]:
weight=[56,45,67,72,58,64,58,45,59,6,45]

In [13]:
np.mean(weight)

52.27272727272727

In [14]:
np.median(weight)

58.0

In [16]:
import seaborn as sns
df=sns.load_dataset('tips')

In [18]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [20]:
np.mean(df['total_bill'])

19.78594262295082

In [21]:
np.median(df['total_bill'])

17.795

In [29]:
ages=[12,21,23,45,65,43,56,45,32,67,54,34,555]

In [24]:
np.mean(age)

41.416666666666664

In [30]:
np.mean(ages)

80.92307692307692

In [31]:
np.median(age)

44.0

In [32]:
np.median(ages)

45.0

In [33]:
from scipy import stats

In [34]:
stats.mode(age)

C:\Users\shanza\AppData\Local\Temp\ipykernel_7616\2474845003.py:1: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  stats.mode(age)

ModeResult(mode=array([45]), count=array([2]))

In [35]:
stats.mode(df['total_bill'])

C:\Users\shanza\AppData\Local\Temp\ipykernel_7616\932912092.py:1: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  stats.mode(df['total_bill'])

ModeResult(mode=array([13.42]), count=array([3]))